
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';


*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}


//
//RECIPE QTY SCREEN
//
.adjustrecipe-header{
  border: 1px dotted gray;
  text-align: center;
}
.servings{
  float: left;
}
#servings-input{
  width: 30px;
}
.radio-button-container{
  display: inline-block;
}
.adjustrecipe-button-container{
  float: right;
}
#title-recipe{
  display: inline-block;
  font-weight: bold;
  text-decoration: underline;
}
#servings-recipe{
  display: inline-block;
}

//
//RECIPE FORM SCREEN
//
.cook-time-container{
  text-align: center;
}
.steps-container{
  text-align: center;
}
#prep-time{
  width: 100px;
}
#cook-time{
  width: 100px;
}
#cook-temp{
  width: 40px;
}
#ingredient-amount{
  width: 100px;
}
#unit-input{
  width: 100px;
}
#ingredient-input{
  width: 100px;
}
#step-directions{
  width: 100%;
}
#save-recipe-button{
  float: right;
}
